@model proje_obs.Ogrenci
    
        <fieldset>
            <legend>Öğrenci Bilgileri</legend>
            <table>
                <tr>
                    <td>Öğrenci Numarası:</td>
                    <td>@Model.OgrenciNo</td>
                </tr>
                <tr>
                    <td>Öğrenci Adı:</td>
                    <td>@Html.Encode(Model.Ad)</td>
                </tr>
                <tr>
                    <td>Öğrenci Soyadı:</td>
                    <td>@Html.Encode(Model.Soyad)</td>
                </tr>
                <tr>
                    <td>Öğrenci Doğum Tarihi:</td>
                    <td>@Model.DogumTarihi</td>
                </tr>
                <tr>
                    <td>Öğrenci Aktif Kayıt Dönemi:</td>
                    <td>@Model.AktifKayitDonemi</td>
                </tr>
                <tr>
                    <td>Öğrenci E-posta:</td>
                    <td>@Model.Eposta</td>
                </tr>
                <tr>
                    <td>Öğrenci Telefonu:</td>
                    <td>@Model.Telefon</td>
                </tr>

            </table>
        </fieldset>
        <div class="photo">
            <!-- <img style="width:100%" src="_Storage.ReturnUrl(User.Identity.Name + ".jpg")" alt="henüz foto yüklenmemiş" /> -->
        </div>