@model proje_obs.Ogrenci
    @using System.Text
        <fieldset>
            <legend>Öğrenci Bilgileri</legend>
            <table>
                <tr>
                    <td>Öğrenci Numarası:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.OgrenciNo.ToString()))</td>
                </tr>
                <tr>
                    <td>Öğrenci Adı:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Ad))</td>
                </tr>
                <tr>
                    <td>Öğrenci Soyadı:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Soyad))</td>
                </tr>
                <tr>
                    <td>Öğrenci Doğum Tarihi:</td>
                    <td>@Model.DogumTarihi</td>
                </tr>
                <tr>
                    <td>Öğrenci Aktif Kayıt Dönemi:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.AktifKayitDonemi))</td>
                </tr>
                <tr>
                    <td>Öğrenci E-posta:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Eposta))</td>
                </tr>
                <tr>
                    <td>Öğrenci Telefonu:</td>
                    <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Telefon))</td>
                </tr>

            </table>
        </fieldset>
        <div class="photo">
            <!-- <img style="width:100%" src="_Storage.ReturnUrl(User.Identity.Name + ".jpg")" alt="henüz foto yüklenmemiş" /> -->
        </div>