@using proje_obs
@model List<AcilanDersler>
@{
    ViewBag.Title = "DersEklemeTalepleriListele";
}

<h2>DersEklemeTalepleriListele</h2>

<table>

    @foreach (AcilanDersler ders in Model)
    {
        <tr>
            <td>@ders.AkademisyenId</td>
            <td>@ders.DersAdi</td>
            <td>@ders.DersKodu</td>
            <td>@ders.YariYil</td>
            <td>@ders.YilDers</td>
            <td><a href="/idari/DersEklemeTalebiniOnayla?acilanDersId=@ders.ADId">Onayla</a></td>
        </tr>
    }
</table>