@using proje_obs
@model Idari
    @using System.Text
<fieldset>
    <legend>İdari bilgileri</legend>
    <table>
        <tr>
            <td>Id</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Id.ToString()))</td>
        </tr>
        <tr>
            <td>Adı Soyadı</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Adi)) @Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Soyadi))</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Mail))</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Tel))</td>
        </tr>
        <tr>
            <td>Adresi</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Adres))</td>
        </tr>
        <tr>
            <td>Ünvanı</td>
            <td>@Encoding.UTF8.GetString(Encoding.Default.GetBytes(Model.Unvan))</td>
        </tr>
    </table>
</fieldset>