@using proje_obs
@model Idari
<fieldset>
    <legend>İdari bilgileri</legend>
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Adı Soyadı</td>
            <td>@Model.Adi @Model.Soyadi</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>@Model.Mail</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Model.Tel</td>
        </tr>
        <tr>
            <td>Adresi</td>
            <td>@Model.Adres</td>
        </tr>
        <tr>
            <td>Ünvanı</td>
            <td>@Model.Unvan</td>
        </tr>
    </table>
</fieldset>