@using proje_obs
@model List<DersTarihlers>

<table>
    <tr>
        <td>Id</td>
        <td>Ders açma başlangıç</td>
        <td>Ders açma bitiş</td>
        <td>Ders seçme başlangıç</td>
        <td>Ders seçme bitiş</td>
    </tr>
    @foreach (DersTarihlers tarihler in Model)
    {
        <tr>
            <td>@tarihler.Id</td>
            <td>@tarihler.dersAcmaBaslangic</td>
            <td>@tarihler.dersAcmaBitis</td>
            <td>@tarihler.dersSecmeBaslangic</td>
            <td>@tarihler.dersSecmeBitis</td>
            <td><a href="/idari/TarihiSil/@tarihler.Id">Sil</a></td>
        </tr>
    }
</table>

@using (Html.BeginForm("TarihEkle", "idari"))
{
    <table>
        <tr>
            <td>Ders açma başlangıç:</td>
            <td><input type="text" name="dersAcmaBaslangic" /></td>
        </tr>
        <tr>
            <td>Ders açma bitiş:</td>
            <td><input type="text" name="dersAcmaBitis" /></td>
        </tr>
        <tr>
            <td>Ders seçme başlangıç:</td>
            <td><input type="text" name="dersSecmeBaslangic" /></td>
        </tr>
        <tr>
            <td>Ders seçme bitiş:</td>
            <td><input type="text" name="dersSecmeBitis" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Kaydet" /></td>
        </tr>
    </table>
}