@using proje_obs
@model Dictionary<Ogrenci, Notlar>
@{
    ViewBag.Title = "SinavSonuclariGir";
}

<h2>SinavSonuclariGir</h2>

@{
    <table>
        @foreach (KeyValuePair<Ogrenci, Notlar> kp in Model)
        {

            using (Html.BeginForm("SinavSonucunuKaydet", "OgretimElemani"))
            {
                <tr>
                    <input type="hidden" value="@kp.Value.KayitId" name="notId" />
                    <td>Öğrenci adı:</td>
                    <td>@kp.Key.OgrenciNo).Ad</td>
                    <td>Vize:</td>
                    <td><input type="text" value="@kp.Value.Vize" name="vize" /></td>
                    <td>Final:</td>
                    <td><input type="text" value="@kp.Value.Final" name="final" /></td>
                    <td>Büt:</td>
                    <td><input type="text" value="@kp.Value.But" name="butunleme" /></td>
                    <input type="hidden" value="@ViewBag.dersId" name="dersId" />
                    <td><input type="submit" value="Kaydet" /></td>
                </tr>
            }
        }
    </table>
}